<div class="container-fluid text-center">
<div class="row p-md-4 mt-4">
    <div class="col-12 text-center">
        <h1>Lista de Planos</h1>
    </div>
    <div class="col-md-3 col-sm-12 mt-4">
        <div class="card">
            <div class="card-body">
                <img src="https://frontendsimulador.qualicorp.com.br/img/operadoras/1685053000156__logo.jpg" class="img-fluid">
              <h5 class="card-title">Plano: Vital Enfermaria</h5>
              <h6 class="card-subtitle mb-2 text-muted">Operadora: SULAMÉRICA SAÚDE</h6>
              <p class="text-justify">Nome: Exato Adesão Trad.16 F AHO QC</p>
              <p class="text-justify mt-0">Abrangencia: nacional</p>
              <p class="text-justify mt-0">Tipo de Acomadação: nacional</p>
              <p class="text-justify mt-0">Segmetação: nacional</p>
              <p class="text-justify mt-0">nive: nacional</p>
            </div>
          </div>
    </div>
    <div class="col-md-3 col-sm-12 mt-4">
        <div class="card">
            <div class="card-body">
                <img src="https://frontendsimulador.qualicorp.com.br/img/operadoras/1685053000156__logo.jpg" class="img-fluid">
              <h5 class="card-title">Plano: Vital Enfermaria</h5>
              <h6 class="card-subtitle mb-2 text-muted">Operadora: SULAMÉRICA SAÚDE</h6>
              <p class="text-justify">Nome: Exato Adesão Trad.16 F AHO QC</p>
              <p class="text-justify mt-0">Abrangencia: nacional</p>
              <p class="text-justify mt-0">Tipo de Acomadação: nacional</p>
              <p class="text-justify mt-0">Segmetação: nacional</p>
              <p class="text-justify mt-0">nive: nacional</p>
            </div>
          </div>
    </div>
</div>
 

</div>
